.large-heading {
  font-size: 6vw;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin: 20px 0;
  padding-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 8vw;
  height: auto;
  margin-bottom: 0px;
}

.title-divider-login {
  width: 100%;
  height: 2vh;
  background-color: #064123;
  margin: 2vh 0;
}

.button {
  display: inline-block;
  width: 10vw;
  height: 8vh;
  margin-bottom: 10px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 1.5vw;
}

.button:hover {
  background-color: #538267; /* Darker shade on hover */
}

.text-input {
  width: 20vw;
  padding: .9vw;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1vw;
}
